@main("dashboard"){
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="routes.Assets.versioned("stylesheets/flaticon.css")">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <h2>Social Network Kocela</h2>
        <ul>
            <!-- Sidebar content will go here -->
            <li><i class="fas fa-envelope"></i> Messages
            <li><i class="fas fa-bell"></i> Notifications
            <li><i class="fas fa-user"></i> Profile
            </li>
        </ul>
    </div>
    <div class="main-content">
        <h1>Welcome to the Dashboard</h1>

    </div>
</div>
</body>
</html>

}