@import play.mvc.Http.Request
@import helper._
@(loginForm: Form[models.Login])(implicit request: Request, messages: play.i18n.Messages)

@main("Login") {

<body>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="login-container">
    <h2 class="text-center">Login</h2>
    @form(routes.HomeController.handleLogin()) {
    @CSRF.formField
    <div class="form-group">
      <label for="email">Email:</label>
      @inputText(loginForm("email"),
      Symbol("_showConstraints") -> false,
      Symbol("_label") -> Nil,
      Symbol("type") -> "email",
      Symbol("placeholder") -> "Enter email",
      Symbol("class") -> "form-control",
      Symbol("autofocus") -> false)
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      @inputPassword(loginForm("password"),
      Symbol("_showConstraints") -> false,
      Symbol("_label") -> Nil,
      Symbol("placeholder") -> "Enter password",
      Symbol("class") -> "form-control",
      Symbol("autofocus") -> false)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    }

    <div class="text-center mt-3">
      <p>Don't have an account? <a href="/register">Register here</a></p>
      <p><a href="/forgot-password">Forgot Password?</a></p>
    </div>
  </div>
</div>
</body>

}
